In [1]:
import sqlite3

conn = sqlite3.connect('cabbooking.db')
print("Opened database successfully");

Opened database successfully

In [2]:
'''Create the table'''
conn.execute('''CREATE TABLE CABMASTER
         (ID INT PRIMARY KEY     NOT NULL,
         REGNO           TEXT    NOT NULL,
         DRIVERNAME      TEXT    NOT NULL,
         MODEL           TEXT    NOT NULL,
         DESTINATION     TEXT    NOT NULL,
         LOCATION TEXT,
         LUGGAGE TEXT,
         PEOPLE TEXT);''')
print("Table created successfully");
conn.close()

Table created successfully

In [3]:
conn = sqlite3.connect('cabbooking.db')
conn.execute("INSERT INTO CABMASTER (ID,REGNO,DRIVERNAME,MODEL,DESTINATION,LOCATION,LUGGAGE,PEOPLE) \
      VALUES (1, '1111','Paul','Indica','MADHAPUR', 'AIRPORT', '1', '1' )");

conn.execute("INSERT INTO CABMASTER (ID,REGNO,DRIVERNAME,MODEL,DESTINATION,LOCATION,LUGGAGE,PEOPLE) \
      VALUES (2,'2222','Paul','Indica','MADHAPUR', 'AIRPORT', '2', '2' )");

conn.commit()
print("Records created successfully");
conn.close()

Records created successfully

In [4]:
conn = sqlite3.connect('cabbooking.db')
print("Opened database successfully");

cursor = conn.execute("SELECT * from CABMASTER")
for row in cursor:
   print("ID = ", row[0])
   print("MODEL",row[3])
print()  

print("Operation done successfully");
conn.close()

Opened database successfully
ID =  1
MODEL Indica
ID =  2
MODEL Indica

Operation done successfully

In [6]:
conn = sqlite3.connect('cabbooking.db')
print("Opened database successfully");

conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
conn.commit
print("Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3])

print("Operation done successfully")
conn.close()

Opened database successfully

OperationalError: no such table: COMPANY

In [31]:
conn = sqlite3.connect('main.db')
print("Opened database successfully");

conn.execute("DELETE from COMPANY where ID = 2;")
conn.commit()
print("Total number of rows deleted :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3])

print("Operation done successfully")
conn.close()

Opened database successfully
Total number of rows deleted : 1
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0
ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0
Operation done successfully