In [25]:
import sqlite3

conn = sqlite3.connect('restuarant.db')
print("Opened database successfully");

Opened database successfully

In [26]:
'''Create the table'''
conn.execute('''CREATE TABLE RESTAURANTMASTER
         (ID               INT     NOT NULL,
         RESERVEDONTHENAME TEXT    NOT NULL,
         RESTUARANTNAME    TEXT    NOT NULL,
         CUISINETYPE       TEXT    NOT NULL,
         COSTTYPE          TEXT    NOT NULL,
         LOCATION          TEXT    NOT NULL,
         NOOFPEOPLE        TEXT    NOT NULL);''')
print("Restaurant Table created successfully");
conn.close()

Restaurant Table created successfully

In [27]:
conn = sqlite3.connect('restuarant.db')

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','CHINESE','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','CHINESE','medium','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','CHINESE','excuisite','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','north-indian','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','north-indian','medium','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','north-indian','excuisite','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','south indian','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','south indian','medium','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','south indian','excuisite','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','italian','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','italian','medium','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','italian','excuisite','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','spanish','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','spanish','medium','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','spanish','excuisite','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','continental','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','continental','medium','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','continental','excuisite','EAST', '5')");

conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','multi cuisine','CHEAP','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','multi cuisine','medium','EAST', '5')");
conn.execute("INSERT INTO RESTAURANTMASTER (ID,RESERVEDONTHENAME,RESTUARANTNAME,CUISINETYPE,COSTTYPE,LOCATION,NOOFPEOPLE) \
      VALUES  (1, 'JP','PARADISE','multi cuisine','excuisite','EAST', '5')");

conn.commit()
print("Restaurant Records inserted successfully");
conn.close()

Restaurant Records inserted successfully