In [37]:
import sqlite3
conn = sqlite3.connect('cabbooking.db')

In [38]:
'''Create the table'''
conn.execute('''CREATE TABLE CABMASTER
         (ID                 INT                   NOT NULL,
         CARNO               TEXT                  NOT NULL,
         DRIVERNAME          TEXT                  NOT NULL,
         CARMODEL            TEXT                  NOT NULL,
         DESTINATION         TEXT                  NOT NULL,
         SRCLOCATION         TEXT                  NOT NULL,
         LUGGAGEBAGS         INT                  NOT NULL,
         NOOFPEOPLE          INT                  NOT NULL);''')
print("CABMASTER created successfully");
conn.close()

CABMASTER created successfully

In [39]:
conn = sqlite3.connect('cabbooking.db')
conn.execute("INSERT INTO CABMASTER (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (1, '1111','Paul','TATA Indica','GACHIBOWLI', 'AIRPORT', 1, 1 )");

conn.execute("INSERT INTO CABMASTER (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (1, '2222','Max','MARUTI SWIFT','GACHIBOWLI', 'AIRPORT', 3, 3 )");

conn.execute("INSERT INTO CABMASTER (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (1, '3333','William','TOYOTA INNOVA','GACHIBOWLI', 'AIRPORT', 5, 5 )");

conn.execute("INSERT INTO CABMASTER (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (1, '4444','Suraj','XYLO','GACHIBOWLI', 'AIRPORT', 7, 7 )");

'''
conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (1, '1111','Paul','TATA Indica','GACHIBOWLI', 'AIRPORT', '3', '1' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (1, '1111','Paul','MARUTI SWIFT','GACHIBOWLI', 'AIRPORT', '1', '4' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (1, '1111','Paul','TATA Indica','GACHIBOWLI', 'AIRPORT', '1', '2' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (1, '1111','Paul','TATA Indica','GACHIBOWLI', 'AIRPORT', '2', '2' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (1, '1111','Paul','TATA Indica','GACHIBOWLI', 'AIRPORT', '3', '2' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','TATA Indica','GACHIBOWLI', 'AIRPORT', '2', '2' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','TATA Indica','GACHIBOWLI', 'AIRPORT', '2', '2' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (1, '1111','Paul','TATA Indica','GACHIBOWLI', 'AIRPORT', '1', '3' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','TATA Indica','GACHIBOWLI', 'AIRPORT', '2', '3' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','TATA Indica','GACHIBOWLI', 'AIRPORT', '3', '3' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (1, '1111','Paul','MARUTI SWIFT','GACHIBOWLI', 'AIRPORT', '1', '4' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','MARUTI SWIFT','GACHIBOWLI', 'AIRPORT', '2', '4' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','MARUTI SWIFT','GACHIBOWLI', 'AIRPORT', '3', '4' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','MARUTI SWIFT','GACHIBOWLI', 'AIRPORT', '4', '4' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','TOYOTA INNOVA','GACHIBOWLI', 'AIRPORT', '1', '5' )");
conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','TOYOTA INNOVA','GACHIBOWLI', 'AIRPORT', '2', '5' )");
conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','TOYOTA INNOVA','GACHIBOWLI', 'AIRPORT', '3', '5' )");
conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','TOYOTA INNOVA','GACHIBOWLI', 'AIRPORT', '4', '5' )");
conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','TOYOTA INNOVA','GACHIBOWLI', 'AIRPORT', '5', '5' )");

conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','MAHINDRA XYLO','GACHIBOWLI', 'AIRPORT', '1', '6' )");
conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','MAHINDRA XYLO','GACHIBOWLI', 'AIRPORT', '2', '6' )");
conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','MAHINDRA XYLO','GACHIBOWLI', 'AIRPORT', '3', '6' )");
conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','MAHINDRA XYLO','GACHIBOWLI', 'AIRPORT', '4', '6' )");
conn.execute("INSERT INTO CABMASTER4 (ID,CARNO,DRIVERNAME,CARMODEL,DESTINATION,SRCLOCATION,LUGGAGEBAGS,NOOFPEOPLE) \
      VALUES (2,'2222','Paul','MAHINDRA XYLO','GACHIBOWLI', 'AIRPORT', '5', '6' )");

'''

conn.commit()
print("Records created successfully");
conn.close()

Records created successfully

In [17]:
conn = sqlite3.connect('cabbooking.db')
print("Opened database successfully");
luggage = '2'
cursor = conn.execute("SELECT * from CABMASTER2 where LUGGAGEBAGS="+luggage)
for row in cursor:
    i=0
    while(i<8): 
        print(row[i]) 
        i = i+1
print()  

print("Operation done successfully");
conn.close()

Opened database successfully
2
2222
Paul
TATA Indica
GACHIBOWLI
AIRPORT
2
2

Operation done successfully